#import-notification {
    display: none;
    margin: 1rem 0;
    padding: .8rem 1.2rem;
    border-radius: 3px;
    font-size: 1.4rem;
    line-height: 1.5;
}

#import-notification.message-error {
    display: block;
    background: #fdf0f0;
    border-left: 4px solid #e22626;
    color: #b30000;
}

#import-notification.message-success {
    display: block;
    background: #f0f9f0;
    border-left: 4px solid #006400;
    color: #006400;
}

#preview-section {
    margin-top: 2rem;
}

#preview-section #validation-heading.hidden {
    display: none;
}

#preview-section .admin__data-grid-outer-wrap {
    overflow-x: auto;
}

#preview-section .message {
    padding: .75rem 1rem;
    margin-bottom: .5rem;
    border-radius: 3px;
    font-size: 1.4rem;
}

#preview-section .message.message-error {
    background: #fdf0f0;
    border-left: 4px solid #e22626;
    color: #b30000;
}

#preview-section .message.message-success {
    background: #f0f9f0;
    border-left: 4px solid #006400;
    color: #006400;
}
